
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1484270302690'); /* IE9*/
  src: url('iconfont.eot?t=1484270302690#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484270302690') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484270302690') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484270302690#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-open-full:before { content: "\e640"; }

.icon-open-minus:before { content: "\e64c"; }

.icon-open-plan:before { content: "\e605"; }

.icon-open-down-line:before { content: "\e61e"; }

.icon-open-score:before { content: "\e608"; }

.icon-open-calendar:before { content: "\e648"; }

.icon-open-disabled:before { content: "\e615"; }

.icon-open-warn:before { content: "\e618"; }

.icon-open-preview:before { content: "\e63f"; }

.icon-open-quit:before { content: "\e60b"; }

.icon-open-upload:before { content: "\e609"; }

.icon-open-sound:before { content: "\e612"; }

.icon-open-error:before { content: "\e631"; }

.icon-open-search:before { content: "\e602"; }

.icon-open-close:before { content: "\e630"; }

.icon-open-success:before { content: "\e632"; }

.icon-open-preview1:before { content: "\e61c"; }

.icon-open-down:before { content: "\e61d"; }

.icon-open-link:before { content: "\e611"; }

.icon-open-ppt:before { content: "\e60d"; }

.icon-open-cancel:before { content: "\e641"; }

.icon-open-discuss3:before { content: "\e607"; }

.icon-open-set-line:before { content: "\e617"; }

.icon-open-note-line:before { content: "\e616"; }

.icon-open-great1:before { content: "\e62f"; }

.icon-open-flash:before { content: "\e633"; }

.icon-laba:before { content: "\e63b"; }

.icon-open-text:before { content: "\e613"; }

.icon-open-notes:before { content: "\e637"; }

.icon-xiangshang:before { content: "\e62b"; }

.icon-open-editor:before { content: "\e601"; }

.icon-open-audio:before { content: "\e635"; }

.icon-iconfontcolor34:before { content: "\e642"; }

.icon-open-great:before { content: "\e614"; }

.icon-open-dot:before { content: "\e629"; }

.icon-open-view:before { content: "\e603"; }

.icon-open-added2:before { content: "\e636"; }

.icon-open-discuss:before { content: "\e63a"; }

.icon-open-collect:before { content: "\e63e"; }

.icon-open-delete:before { content: "\e649"; }

.icon-open-discuss2:before { content: "\e638"; }

.icon-open-return:before { content: "\e62a"; }

.icon-open-prompt:before { content: "\e628"; }

.icon-open-video:before { content: "\e650"; }

.icon-open-collect2:before { content: "\e63c"; }

.icon-open-set:before { content: "\e60e"; }

.icon-open-delete1:before { content: "\e60c"; }

.icon-gonggao:before { content: "\e639"; }

.icon-open-download:before { content: "\e60a"; }

.icon-open-statistics:before { content: "\e64f"; }

.icon-open-preview2:before { content: "\e63d"; }

.icon-open-collect1:before { content: "\e620"; }

.icon-open-course:before { content: "\e600"; }

.icon-open-enable:before { content: "\e61a"; }

.icon-open-refresh:before { content: "\e619"; }

.icon-open-discuss1:before { content: "\e60f"; }

.icon-open-next:before { content: "\e643"; }

.icon-open-doubt:before { content: "\e610"; }

.icon-open-book:before { content: "\e623"; }

.icon-open-marking:before { content: "\e624"; }

.icon-open-triangle:before { content: "\e606"; }

.icon-open-up2:before { content: "\e621"; }

.icon-open-label:before { content: "\e622"; }

.icon-open-label2:before { content: "\e625"; }

.icon-open-added:before { content: "\e627"; }

.icon-open-up-line:before { content: "\e61b"; }

.icon-open-triangle-right:before { content: "\e626"; }

.icon-open-delete2:before { content: "\e62c"; }

.icon-open-upwards:before { content: "\e62d"; }

.icon-open-downwards:before { content: "\e62e"; }

.icon-open-release:before { content: "\e634"; }

.icon-open-last:before { content: "\e644"; }

.icon-open-left:before { content: "\e645"; }

.icon-open-right:before { content: "\e646"; }

.icon-open-across:before { content: "\e61f"; }

.icon-open-piece:before { content: "\e647"; }

.icon-open-copy:before { content: "\e64a"; }

.icon-open-published:before { content: "\e64b"; }

.icon-open-bookmarks:before { content: "\e64d"; }

.icon-open-plus:before { content: "\e64e"; }

.icon-iconfontqsh:before { content: "\e604"; }

.icon-iconfontsh:before { content: "\e651"; }

.icon-iconfontxiangpi:before { content: "\e652"; }

.icon-iconfont-Mag:before { content: "\e653"; }

.icon-iconfont-fb:before { content: "\e66c"; }

.icon-iconfont-bj:before { content: "\e66f"; }

.icon-iconfont-qx:before { content: "\e671"; }

.icon-iconfont-tjzj:before { content: "\e672"; }

.icon-iconfont-zq:before { content: "\e673"; }

.icon-iconfont-ysc:before { content: "\e67a"; }

.icon-iconfont-img:before { content: "\e67c"; }

